# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Releases/
Release/
Debug/
**/bin/
**/.vs/
PrivateDoc/
src/**/bin/
src/**/.vs/
Source/**/bin/
**/obj/
#Node
**/.tscache/bin/
**/client/dest/
#log files:
*.log
#Visual studio files
/bin
**/*.suo
*.DotSettings.user

*.csproj.user
*.wxs
*.wixobj

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
**/TestResults/*
/Build/ProductGuid.txt
/Build/ProductName.txt
/Build/Solutions.txt
*.test.trx
*.mpx
packages

/Dependencies/*
!/Dependencies/ConfigTransformationTool
!/Dependencies/MPGenerator
!/Dependencies/RouteDebug
!/Dependencies/Subtext.Scripting
!/Dependencies/TransportLBM.Managed
!/Dependencies/dependencies.txt
!/Dependencies/repositories.config
/Drops
/.vs
/LocalNuGetRepo

*.orig
UpgradeLog*.htm
UpgradeLog*.XML
/Source/PoC/PoC.Host/Config/Web.Test.config
/Source/PoC/PoC.Host/Config/NLog.Dev.config

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# DotCover is a Code Coverage Tool
*.dotCover

# Visual Studio code coverage results
*.coverage
*.coveragexml

*.VisualState.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.iobj

